<!DOCTYPE html>
<body>
  <div style='width:50%; display: block; margin-left: auto; margin-right: auto; border: 3px dashed blue; width:50%;'>
    <form action="/named-cat" method="post">
      You name: <input type="text" name="name">
      <input type="submit" value="Click me!">
    </form>
  </div>
</body>
